.site-header {
    z-index: 10000000;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    width: 100%;
    top:0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    position:fixed; 
    @media screen and (min-width: $large_screen) {
        height: 100px;
    }    
}

.site-branding {
    display:flex;
    align-content:center;   
    flex-wrap: wrap;
    @media screen and (min-width: $large_screen) {
        justify-content: center;
        
    } 
}

.site-description,
.site-title,
.main-navigation
 {
   
    margin: auto 1rem; font-size: 1rem;
   
}

.site-description {
    @media screen and(max-width: 350px) {
        display: none;
    }
    font-size: 0.7rem;
    @media screen and(min-width: $medium_screen) {
        font-size: 0.9rem;
        transform: translateY(3px);
    }
}

.site-title {

    
    a {
        font-size: 1.3rem;
        font-family: $font-headings; 
        font-weight: bold;
        @media screen and(max-width: 350px) {
            font-size: 1rem;
        }

        @media screen and (min-width: $large_screen) {
            font-size: 2rem;
            
        } 
    }
 }

.nav-menu
 {
    display:flex; 
}

.custom-logo {
    height:40px;
    width:40px;
    margin: 5px;
} 

.sub-menu {
    display:none;
}

