.archives-container {
    @media screen and(min-width: $large_screen)  {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1300px; 
        margin: 0 auto; 
    }
    @media screen and(min-width: $extra_large_screen)  {
        max-width: 1500px;
    }
}

.archive-title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    h1 {
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 1rem;
        text-transform: uppercase;
    }
}
.archive-h2 {
    @media screen and(min-width: $large_screen)  {
        line-height: 2.3rem;
    }
}
