.container {
    margin: 1rem;
    margin-top: 90px;   
    @media screen and (min-width: $large_screen) {
        margin-top: 200px;
    }    
    
}



.entry-footer {
    span {
        margin-right:1rem;
        font-size: 0.7rem;
    }
}

.entry-meta {
    font-size: 0.8rem;;
}
