// .site {
// 	display: grid;
// 	grid-template-columns: ($size__site-sidebar) auto;
// 	grid-template-areas:
// 		"header header"
// 		"sidebar main"
// 		"footer footer";
// }

// .site-header {
// 	grid-area: header;
// }

// .site-main {
// 	grid-area: main;
// 	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
// }

.widget-area {

	background-color: $color__link;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
	}

	display: flex;
	justify-content: space-evenly;
	padding-top: 2em;

	a,
	h2 
	{
		color: $color__background-body;
	}
      
}

// .site-footer {
// 	grid-area: footer;
// }

@import "no-sidebar";
