button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
		border: none;
		@include background;
		color: $light_color;
		cursor: pointer;
		font-size: 1rem;
		border-radius: 30px;
		padding: 12px 30px;	
		@media screen and(min-width: $large_screen)  {
			@include box-shadow-normal;
			transition: all 0.2s ease-in;	
			
		}	
	&:hover {
		@media screen and(min-width: $large_screen)  {
			@include box-shadow-hover;
		}
	}
}

.read-more {
	background: unset;
	color: $mid_orange;
	height: unset;
	width:unset;
	margin-bottom: 1rem;
	border: unset;
	box-shadow: unset;
	font-size: 1rem;	
	transition: unset;
	padding:unset;
	font-family: $font-headings;
	@media screen and (min-width: $middle_large_screen) {
		margin-top: 1rem;
	}
	@media screen and(min-width: $large_screen)  {
		border-radius: 30px;
	}	
	@media screen and (min-width: $extra_large_screen) {
		font-size: 1.2rem;
	}
}
.read-more:hover,
.read-more:active {
box-shadow: unset;
}
.card:first-of-type {
	.read-more {
		@media screen and (min-width: $large_screen) {
			display: block;
			color: $dark_orange;
			background: $light_color;
			border: 1px solid $dark_orange;
			cursor: pointer;
			margin-top:1rem;
			box-shadow: none;
			font-family: $font-headings;
			transition: all 0.2s ease;
			margin-bottom: 1rem;
			padding: 12px 30px;
		}
		@media screen and (min-width: $middle_large_screen) {
			margin-top: 1rem;
		}
		@media screen and(min-width: $large_screen)  {
			padding-left:30px;
		}	
	}
	.read-more:active {
		transform: scale(0.99);
	}
	.read-more:hover {
		@media screen and (min-width: $large_screen) {
			@include background; 
			color: $light_color;
			box-shadow: unset;
		}
	}
}