.site-footer {
    background-color: $color__text-screen;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        color: white; 
    }
}
