body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	//  font-size: 1rem;
	line-height: $font__line-height-body;

	@media screen and (min-width: $large_screen) {
		font-size: 1.4rem;

	}
}

@import "headings";
@import "copy";
