.widget-area {
	display: flex;
	justify-content: center;
	flex-wrap: wrap; 
	background-color: $color__background-body;	
	@media screen and(min-width: $large_screen)  {
		justify-content: space-evenly;
	}
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
      
}

.widget {
	padding: 0em 1em;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	@media screen and(min-width: $large_screen)  {
		padding: 1em 2em;
	}
	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget_title_container {
	display: flex;
	letter-spacing: 0.1rem;
	word-break: break-all;
	@media screen and(min-width: $large_screen)  {
		margin: unset;
	}
}

.widget-title
 {
	background: unset;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
	font-size: 1.3rem;
	font-weight: 400;
}

.widget_search {
	padding: 0 0;
	flex-direction: row;
	justify-content: center;
}

.svg-icons {
	height: 30px;
	margin-right: 1rem;
}

.recent-post-image
 {	
	a {
		display: block;
	img {
		margin-top: 0;
		object-fit: cover;
		min-height: 100%;
		min-width:100%;
	}
	margin-right: 1rem;
	width: 150px;
	height: 150px;
	}
}

#widget_crp-3 > div > ul > li > a > img {
		margin-top: 0;		
}

.recent-posts,
.crp_related_widget ul > li  {
	max-width: 180px;
	margin: 1rem;	
	list-style-type: none;
	padding: 1rem;
	background-color: white;
	transition: all 0.1s ease-in;

	@media screen and(min-width: $large_screen)  {
			margin: 1rem;	
		}	
}

.recent-posts:hover,
.crp_related_widget ul > li:hover  {
	@media screen and(min-width: $large_screen)  {
		box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
		0 2px 2px rgba(0,0,0,0.11), 
		0 4px 4px rgba(0,0,0,0.11), 
		0 8px 8px rgba(0,0,0,0.11), 
		0 16px 16px rgba(0,0,0,0.11), 
		0 32px 32px rgba(0,0,0,0.11); 
	}	 
}

.recent-posts__data
 {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	span {		
		font-size: 12px;
	
	}
}

.crp_date {
	display: block;
	font-size: 12px;
}

/** Album of the week widget 
*/


#custom_html-2 {
	color: white;
	.album-of-the-week {
		font-weight: 400;
		margin: 2rem 0;
		@media screen and(min-width: $large_screen)  {
			margin: 1rem 0;
			font-size: 1rem;
		}
	}
	a {
		margin: 0 auto;
		margin-bottom: 0.5rem;
		color: white;
		font-size: 0.9rem;
	}
	@media screen and(min-width: $large_screen)  {
		min-width: unset;
		width: 250px;
		position: absolute;
		right: -2px;
		top: 100px;	
		margin:0;
		padding: 0 1rem;
		@include background;
	}
}

