/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	overflow-x: hidden;
}
body {
	background: $light_color; // Fallback for when there is no custom background color defined.
	overflow-x: hidden;
}
hr {
	background-color: $light_color;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
@import "lists";
img {
	object-fit: cover;
	margin-top: 1.2em; 
	max-height: 300px;
	max-width: 100%;
	@media screen and(min-width: $large_screen)  {
		max-height: 800px;
	}
}
.wp-block-image {
	display:flex;
	flex-direction: column;
    align-items: center;
	a {
		display:flex;
	}
}
.wp-block-cover	 {
	max-width:initial;
	max-height: 300px;
}
figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}
.read-more {
		background: unset;
		color: $mid_orange;
		height: unset;
		width:unset;
		margin-bottom: 1rem;
		border: unset;
		box-shadow: unset;
		font-size: 1.1rem;	
		padding: 0;
		transition: unset;
		font-family: $font-headings;
	@media screen and (min-width: $large_screen) {
		margin-top: 1rem;
		font-size: 1.4rem;
	}
}
.read-more:hover,
.read-more:active {
	box-shadow: unset;
}
.card:first-of-type {
	.read-more {
		@media screen and (min-width: $large_screen) {
			display: block;
			color: $dark_orange;
			background: $light_color;
			border: 1px solid $dark_orange;
			height: 45px;
			width: 200px;
			cursor: pointer;
			margin-top: 20px;
			box-shadow: none;
			padding-bottom: 3px;
			font-family: $font-headings;
			transition: all 0.2s ease;
			margin-bottom: 1rem;
			font-size: 1.3rem;	
		}
		@media screen and (min-width: $extra_large_screen) {
			margin-top: 50px;
			height: 50px;
		}	
	}
	.read-more:active {
		transform: scale(0.99);
	}
	.read-more:hover {
		@media screen and (min-width: $large_screen) {
			@include background; 
			color: $light_color;
			border: none;
			box-shadow: unset;
		}
	}
}
.grecaptcha-badge {
	opacity: 0;
	visibility: hidden;
 }
@import "tables";