a {
	color: $color__link-hover;
	text-decoration: none;
	transition: all 0.2s ease-out;
	
	&:visited {
		color: $color__link-hover;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
