a {
	color: $mid_orange;
	text-decoration: none;
	transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	&:visited {
		color: $mid_orange;
	}
	&:hover,
	&:focus,
	&:active {
		color: $dark_orange;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.nav-previous,
.nav-next {
    p {
    color: $mid_orange;
    font-size: 0.8em;
    }
}
.nav-title {
    font-family: $font-headings;
}
.nav-links {
    display: flex;
    justify-content: center;
    line-height: 1rem;
    .page-numbers {
        display: block;
        padding: 0.5rem 0.8rem ;
    } 
    .current {
        border: 1px solid $mid_orange;
        color: $mid_orange;
        border-radius:5px;
    }
} 
.cat-links {
	a {
        text-transform: uppercase;
        color:$light_orange;
        font-size: 0.7rem;
        line-height: 1;
        @media screen and (min-width: $large_screen) {
            font-size: 0.9rem;
        }
    }
    a:hover {
        color: $mid_orange;
        text-decoration: underline;
    }
}
.page-links {
	clear: both;
    margin: 0 0 1.5em;
    padding: 1rem;
}
.tags-links {
    font-size: 0.9rem;  
    font-family:$font__main;
    display: block;
    margin: auto;
    text-align: center;
    margin-top:50px;
}
.edit-link {
    font-size: 0.8  rem;
    text-transform: uppercase;
}
.pagination {
    padding: 2rem;
}