a {
	color: $mid_orange;
	text-decoration: none;
	transition: all 0.2s ease-out;
	
	&:visited {
		color: $dark_orange;
	}

	&:hover,
	&:focus,
	&:active {
		color: $light_orange;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
