.main-navigation,
.primary-menu
 {
	display: flex;
	align-content: center;
	
	ul {
		background-color: $color__link;
		color: white;
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		letter-spacing: 0.2rem;
		@media screen and (min-width: $extra_large_screen) {
			display: flex;
			flex-direction: row;
			height: 100px;
			background-color: white;
			position:relative;
		} 

		ul {
			display: flex;
			

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin: 1rem;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color:white;
		@media screen and (min-width: $extra_large_screen) { 
			color: $color__link;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {
	max-width:900px; 
	margin: 3em auto;
	.site-main & {
	
	}

	.nav-links {
		display: flex;
		margin: 0 auto;
		font-size: 1.2rem;
		
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
	
}


.toggler {
    padding:auto 10px;
    display: flex;
    flex-direction:column;
	margin: 5px 5px;
	cursor: pointer;
    @media screen and (min-width: $extra_large_screen) {

        display: none;
    }    
    div {
        height: 2px;
        width: 30px;
        margin: 4px 0;
        background-color: black;
    }  
   
}  

.menu {
	display: none;
	position: absolute;
	flex-direction: column;
	top:0;
	left:0;
	height: 94vh;
	width: 100%;
	background-color: $color__link;
	justify-content: center;
   	align-items: center;
	
}
.menu-active {
	display:flex;
}