.widget_search {
    display: flex;
	left: 0px;
    top:0px; 
    width: 100%;
    justify-content: center ;
    align-content: center;
    list-style: none;
    height: 80px;
    margin: 0;
    padding-left: 0;
    position: fixed;
    width: 100vw;
    background-color: $color__background-body;
    transform: translateY(-200px);
    opacity:0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in;
    z-index: 15000;
    
    @media screen and (min-width: $large_screen) {
        
        height: 100px;
        
    } 

}

.search-active {
    
    transform: translateY(70px);
    opacity:1;

    @media screen and (min-width: $large_screen) {
        
        transform: translateY(100px);
        
    } 

}

.search-active-scrolled {
    transform: translateY(70px);
    opacity:1;

    @media screen and (min-width: $large_screen) {
        
        transform: translateY(80px);
    }


}

.search-form {
    margin: auto 0;
    display: flex;
    max-height: 2rem;
    justify-content: center;

    label {
        height: 100%;
        display:flex;
        width: 70vw;
        justify-content: center;
      
    }
}		

.search-field {
    font-size: 1em;
    height: 30px;
    font-family:$font__main;
    flex-grow: 3;
    border: 1px solid white;
    color:white;
    border-radius: 0;  	
    text-align: center; 

}

.search-form  {
    input[type="submit"] {
        background-color:$color__link;
        border: 1px solid white;
        color:white;   
        border-radius: 0; 

        @media screen and (min-width: $large_screen) {
            width: 200px
        }   
    }
}


.search-icon {
    margin-left: 30px;
    height:25px;
    width: 25px;
    cursor: pointer;
    align-self: center;
    @media screen and (min-width: $extra_large_screen) {
        margin-left: 50px;
    }  
}

.search-x {
    align-self: center;
    width:25px;
    height:25px;
    margin: 0 15px;
    cursor: pointer;

}