.sticky,
article
 {
	display: grid;
	grid-template-rows: 250px, 250px, auto, auto;
	padding: 0.4em;
}

.entry-header {
	grid-row:2/2;
	grid-column:1;
	z-index: 10000;
	background-color:rgba(255,255,255, 0.7);
	margin-bottom: 1rem;

	
}
.entry-title {
	margin: unset;
	font-size: 1.8em;
}

.cat-links {
	a {
		color: rgb(3, 105, 173);
		text-transform: uppercase;
		font-size: 0.8em;
	}
}

.post-thumbnail {
	grid-row:1/2;
	grid-column:1;
	img {
		object-fit: cover;
		width: 100%;
	}
}

.entry-content {
	grid-row:3/4;
	grid-column:1;
	p {
	margin: 0.5em 0;
	margin-bottom: 1.5rem;
	}
}

.entry-footer {
	grid-row:4/5;
	grid-column:1;
}



.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary,
.entry-footer {	
	
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
